* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'DepartureMono';
  src: url(./assets/fonts/DepartureMono-Regular.otf) format('opentype');
}

html,
body {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  font-family: system-ui, sans-serif;
  perspective: 1500px;
  background: #f8f8f8;
}

.app {
  perspective: 1500px;
}

.ticket {
  width: 320px;
  height: 480px;
  box-shadow: 0 1px 5px #00000099;

  position: relative;

  transform-style: preserve-3d;
  --ticket-scale: 1;
  --ticket-rotate-x: 0deg;
  --ticket-tilt-y: 0deg;
  transition-duration: 500ms;
  transition-property: transform, box-shadow;
  transition-timing-function: ease;
  transform: scale3d(var(--ticket-scale), var(--ticket-scale), var(--ticket-scale))
    rotateY(var(--ticket-tilt-y))
    rotateX(var(--ticket-rotate-x));
}

.ticket:hover {
  transition-duration: 150ms;
  box-shadow: 0 5px 20px 5px #00000044;
}

.ticket .glow {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 9;
  pointer-events: none;
  background-image: radial-gradient(circle at 50% -20%, #ffffff22, #0000000f);
}

.ticket.flipped {
  transform: scale3d(var(--ticket-scale), var(--ticket-scale), var(--ticket-scale))
    rotateY(calc(180deg + var(--ticket-tilt-y)))
    rotateX(var(--ticket-rotate-x));
}

.ticket-face {
  position: absolute;
  inset: 0;
  display: grid;
  place-items: center;
  overflow: hidden;
  z-index: 1;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden; /* Hide the back side during flip */
  font-family: 'DepartureMono', monospace;
}

.ticket-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.ticket-back {
  transform: rotateY(180deg); /* Position the back face initially */
}

.ticket-content {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 1.5rem 1rem;
  display: flex;
  gap: 1.5rem;
  flex-direction: column;
  background-color: #FFFFFF;
}

.details-header {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  z-index: 3;
}

.details-row {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  z-index: 3;
}

.details-item {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  flex-grow: 1;
  z-index: 3;
}

h2 {
  margin: 0;
  font-family: "Source Serif 4", serif;
  font-weight: 500;
  font-size: 1.25rem;
}

h3 {
  margin: 0;
  font-size: 1.25rem;
}

p {
  margin: 0;
  font-size: 0.875rem;
}

label {
  font-size: 11px;
}

.theater-name {
  text-transform: uppercase;
}

.qr-container {
  position: absolute;
  top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.qr-code {
  width: 8rem;
  height: 8rem;
}

.qr-string {
  color: white;
  background-color: black;
  font-size: 14px;
}

.holo {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  top: 0rem;
  left: 0rem;
}

.shape-layer {
  background-image: conic-gradient(
    #000 90deg, 
    #fff 90deg 180deg, 
    #000 180deg 270deg, 
    #fff 270deg
  );
  background-size: 40px 40px; /* Adjust for square size */
  background-repeat: repeat;
}

.color-layer {
  mix-blend-mode: lighten;
}

.mesh-layer {
  mix-blend-mode: soft-light;
  background-image: url(./assets/bw-mesh-3.jpg);
}

.knockout-layer {
  mix-blend-mode: lighten;
  background-image: radial-gradient(circle at 100% -100%, #ffffffcc, #ffffffff);
  position: relative;
  width: 100%;
  height: 100%;
}

.knockout {
  mix-blend-mode: lighten;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 9;
  pointer-events: none;
  background-image: radial-gradient(circle at 50% -20%, #ffffff22, #0000000f);
}